:root {
  --primaryColor: #0b0736;
  --secondaryColor: #cce8fd;
  --whiteColor: #ffffff;
  --tardilyColor: #fee5c1;
  --greyColor: #808080;
  --gainsboroColor: #9393c4;
  --footerColor: #d9f4ff;

  --boxShadow: 0px 0px 8px 10px rgba(0, 0, 0, 0.2);
  --boxShadow2: 0px 0px 3px 5px rgba(0, 0, 0, 0.2);
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body,
html {
  width: 100%;
  height: 100vh;
}
.container {
  max-width: 1240px;
  margin: 0% auto;
}
.between {
  display: grid;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  align-items: center;
  gap: 5rem;
}
p {
  font-size: 24px;
  font-weight: 400;
  color: var(--greyColor);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primaryColor);
}
.btn-type1 {
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  padding: 16px 28px;
  border-radius: 20px;
  border: none;
  transition: 0.5s;

  & img {
    width: 25px;
    height: auto;
    object-fit: cover;
    transition: 0.5s;
  }

  .black-apple {
    display: block;
    transition: 0.5s;
  }
  .white-apple {
    display: none;
    transition: 0.5s;
  }

  & p {
    font-size: 12px;
    color: var(--gainsboroColor);
    text-align: left;
  }

  & h3 {
    font-size: 17px;
    font-weight: 600;
    transition: 0.5s;
  }

  &:hover {
    box-shadow: var(--boxShadow2);
    & h3 {
      color: var(--secondaryColor);
    }
    background-color: var(--primaryColor);
    .black-apple {
      display: none;
    }
    .white-apple {
      display: block;
    }
  }

  &:active {
    transform: translateY(3px);
  }
}
.btn-type2 {
  background-color: var(--primaryColor);
  .black-apple {
    display: none;
  }
  .white-apple {
    display: block;
  }
  & h3 {
    color: var(--secondaryColor);
  }

  &:hover {
    background-color: var(--tardilyColor);
    & h3 {
      color: var(--primaryColor);
    }
    .black-apple {
      display: block;
    }
    .white-apple {
      display: none;
    }
  }
}
/* =========================
Start Style Navbar
========================= */
.navbar {
  max-width: 93%;
  margin: 0% auto;
  display: flex;
  gap: 60px;
  padding: 20px 40px;
  color: var(--primaryColor);

  & h3 {
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
  }

  .nav-button {
    border: 1px solid gainsboro;
    padding: 8px;
    display: flex;
    gap: 8px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color, border-color 0.5s;
  }
  .nav-button:hover {
    background-color: var(--secondaryColor);
    border-color: var(--primaryColor);
  }
}
/* =========================
End Style Navbar
========================= */

/* =========================
Start Home Section
========================= */
.home-img {
  position: absolute;
  width: 50dvw;
  top: 0;
  right: 0;
  z-index: -155;
}

.home-section {
  margin-left: 150px;
  padding: 120px 0;

  & h1 {
    font-size: 90px;
    font-weight: 600;
    color: var(--primaryColor);
  }

  & div {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 4px;
    font-size: 26px;
    padding: 20px 0;
    color: var(--primaryColor);
  }

  & button {
    font-size: 18px;
    font-weight: 500;
    color: var(--whiteColor);
    background-color: var(--primaryColor);
    padding: 20px 30px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      box-shadow: var(--boxShadow);
      color: var(--primaryColor);
      background: var(--secondaryColor);
    }
  }
}
/* =========================
End Home Section
========================= */

/* =========================
Start Target Section
========================= */
.target-section {
  padding: 140px 0;

  .target-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 50%;

    &:hover {
      box-shadow: var(--boxShadow);
      transform: translateY(-10px);
    }
  }

  .target-details {
    .heading {
      font-size: 68px;
      font-weight: 550;
    }

    & .para {
      padding: 40px 0;
    }

    & button {
      margin-bottom: 40px;
    }
  }
}
/* =========================
End Target Section
========================= */

/* =========================
Start Track Section
========================= */
.track-section {
  position: relative;

  .track-bg {
    position: absolute;
    top: 10%;
    left: 0%;
    z-index: -155;
  }

  .left-section {
    & h2 {
      font-size: 85px;
    }

    .imgs-grid {
      padding-top: 80px;
      padding-left: 80px;
      display: flex;
      gap: 20px;

      & div {
        width: 150px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        & img {
          cursor: pointer;
          transition: 0.5s;
          border-radius: 25px;

          &:hover {
            transform: translateY(-5px);
            box-shadow: var(--boxShadow);
          }
        }
      }

      & div:nth-child(2) {
        margin-top: 40px;
      }
    }
  }

  .right-section {
    & h3 {
      color: var(--gainsboroColor);
      font-size: 40px;
      font-weight: 400;
      padding-right: 8rem;
    }

    .details-cart {
      display: flex;
      align-items: flex-start;
      gap: 30px;
      margin-top: 60px;

      & img {
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          transform: translateY(-5px);
          /* box-shadow: var(--boxShadow2); */
        }
      }

      & div {
        padding-top: 20px;
        & h2 {
          font-size: 24px;
          font-weight: 600;
        }

        & p {
          font-size: 20px;
          font-weight: 400;
          padding-top: 20px;
          color: var(--gainsboroColor);
          max-width: 300px;
        }
      }
    }
  }
}

/* =========================
End Track Section
========================= */
.company-section {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1240px;
  margin: 0 auto;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* =========================
Start Join Section
========================= */
.join-section {
  width: 90%;
  margin: 120px auto;
  background-color: var(--footerColor);
  transition: 2s;
  border-radius: 56px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  &:hover {
    background-color: var(--tardilyColor);
  }
  .details {
    display: flex;
    justify-content: center;
    margin: 0% auto;
    flex-direction: column;
    grid-area: 24px;
  }

  & h2 {
    font-size: 68px;
  }

  & button {
    margin-top: 20px;
    &:hover {
      background-color: var(--secondaryColor);
    }
  }
}
/* =========================
End Join Section
========================= */

.copyright {
  text-align: center;
  color: #9393c4;
  margin-bottom: 20px;

  & span {
    color: var(--primaryColor);

    & a {
      &:hover {
        text-decoration: 2px underline var(--primaryColor);
      }
    }
  }
}

/* =========================
Start Responsive For Mobile
========================= */

@media (max-device-width: 767px) {
  .container {
    padding: 0 16px;
  }
  .between {
    gap: 3rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  p {
    font: 18px;
  }
  .btn-type1 {
    width: 180px;
    height: 65px;

    & P {
      font-size: 10px;
    }
    & h3 {
      font-size: 15px;
    }
  }

  .home-img {
    top: 65px;
  }
  .home-section {
    padding: 60px 16px;
    position: relative;
    right: 115px;

    & h1 {
      font-size: 40px;
    }

    & div {
      padding: 16px 0;
      font-size: 18px;

      & img {
        width: 30px;
        height: auto;
      }
    }

    & button {
      font-size: 16px;
      font-weight: 500;
      padding: 15px 18px;
    }
  }

  .target-section {
    padding: 40px 10px;

    .target-details {
      .heading {
        font-size: 50px;
      }

      & button {
        margin-bottom: 40px;
      }
    }
  }

  .track-section {
    .track-bg {
      top: 0%;
      width: 100%;
    }

    .left-section {
      & h2 {
        font-size: 40px;
      }

      .imgs-grid {
        padding-top: 40px;
        padding-left: 40px;
        gap: 16px;

        & div {
          width: 130px;
          gap: 16px;
        }
      }
    }
    .right-section {
      & h3 {
        font-size: 24px;
        padding-right: 0rem;
      }

      .details-cart {
        gap: 16px;
        margin-top: 24px;

        & div {
          padding-top: 16px;

          & p {
            font-size: 18px;
          }
        }
      }
    }
  }

  .company {
    margin-top: 50px;
  }

  .join-section {
    margin: 80px auto;
    border-radius: 24px;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    .details {
      margin: 16px;
    }

    & h2 {
      font-size: 40px;
    }
    & #lats-img {
      width: 100%;
    }
  }
}

/* =========================
End Responsive For Mobile
========================= */
